@import "tailwindcss";

:root {
  --primary: #0e0062;
  --secondary: #f9efe9;
  --highlight: #ffec98;
  --error: #ff4d4f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --color-error: var(--error);
}

html {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fade-text {
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
