{
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
